.kili-section {
  &__component-label {
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
  }

  &__component-item {
    flex-direction: column;

    .components-base-control {
      flex-basis: 100%;
    }
  }

  &__placeholder-image {
    max-width: 100%;
  }
}