$maxWidth: 1200px;

.container {
  width: $maxWidth;
  margin: 0 auto;
}

.wp-block-kili-blocks-team-members {
  display: flex;
  flex-wrap: wrap;

  @for $i from 1 through 12 {
    &.has-#{$i}-columns {
      .wp-block-kili-blocks-team-member {
        width: (100% / $i)-3%;
      }
    }
  }

  .wp-block-kili-blocks-team-member {
    margin: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(93, 93, 102);
    text-align: center;

    &__title {
      color: #222;
      font-size: 18px;
      font-weight: bold;
      margin: 0;
    }

    &__info {
      color: #565656;
      font-weight: 300;
      margin: 5px;
    }

    &__social {
      ul {
        list-style: none;
        line-height: 1;
        margin-left: -5px;
        margin-right: -5px;

        li {
          display: inline-block;
          line-height: 1;
          margin-right: 5px;

          a {
            border-bottom: none;
          }

          &.is-selected {
            outline: 2px solid #f03;
          }

          svg {
            vertical-align: middle;
            color: #4e4e4e;
          }
        }
      }
    }

    &__linkForm {
      width: 70%;
      border: 1px solid #eaeaea;
      padding: 10px;
      margin-top: 10px;
    }

    &__removeLink {
      color: #d23535;
      font-size: 14px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.entry-content {
  margin: 0;
}

.wp-block-kili-blocks-row-layout {
  // min-height: 400px;
  display: flex;
  flex-direction: column;

  .wp-block-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .wp-block-column {
      padding: 10px;
    }
  }
}

.has-text-align-center {
  text-align: center;
}

.has-text-align-right {
  text-align: end;
}

.has-text-align-left {
  text-align: start;
}

.justify-content--center {

  justify-content: center;
}

.justify-content--right {

  justify-content: flex-end;
}