.wp-block-kili-blocks-team-members {
  display: block;
  margin-left: 0;
  margin-right: 0;

  @for $i from 1 through 12 {
    &.has-#{$i}-columns {
      [data-type="core/columns"] {
        width: (100% / $i);
      }
    }
  }

  > .editor-inner-blocks > .editor-block-list__layout {
    display: flex;
    flex-wrap: wrap;

    > [data-type="kili-blocks/team-member"] {
      max-width: none;
      margin-left: 0;
      margin-right: 0;
    }

    .block-list-appender {
      width: 100%;
    }
  }

  .wp-block-kili-blocks-team-member {
    margin-left: 0;
    width: auto !important;

    &.editor-styles-wrapper .wp-block-kili-blocks-team-member__info {
      margin: 5px;
    }
  }
}
